DOCTYPE html
html 
  head
  title ="contact us"
  link(rel="stylesheet" href="style.css")  
  body
    nav
      ul
        li
          a(href="index.html" ) Home 
        li
          a(href="services.html") Services
        li
          a(href="contact.html") Contact
          
  h1.Welcome contact us
